<img src="https://datasciencedegree.wisconsin.edu/wp-content/themes/data-gulp/images/logo.svg" width="300">

# EDWARD FRANKE
# DS 710
# FINAL PROJECT

### Save your credentials to an external file

Make a plain text file on your computer called `twitter_credentials.py`, and put it anywhere but this directory.  I put mine in my home directory for my user.  It will look something like this:

    con_key = 'your consumer key goes here'
    con_secret = 'your consumer secret goes here'
    acc_token = 'your access token goes here'
    acc_secret = 'your access secret goes here'
    
* Save your consumer key, consumer secret, access token, and access secret there.
* Don't share these secrets with others!  
* It's also possible to generate access tokens and secrets from within an app, but now's not the right time for this.

In [153]:
import tweepy

In [154]:
%run ~/twitter_credentials.py
# this cell will evaluate silently ðŸ™Š, and not print anything.  
# This is desired, because a person with your keys can act as you on Twitter in literally every way ðŸ˜Ÿ

In [155]:
#Use tweepy.OAuthHandler to create an authentication using the given key and secret
auth = tweepy.OAuthHandler(consumer_key=con_key, consumer_secret=con_secret)
auth.set_access_token(acc_token, acc_secret)

#Connect to the Twitter API using the authentication
api = tweepy.API(auth)

In [156]:
#Use the REST API for a static search
#Our example finds recent tweets using the hashtag #datascience

# tweet_list = api.search(q='#%23apple') #%23 is used to specify '#'

num_needed = 25000
tweet_list_f = []
last_id = -1 # id of last tweet seen
while len(tweet_list_f) < num_needed:
    try:
        new_tweets = api.search(q = '#%23addiction -filter:retweets', tweet_mode='extended', count = 100, max_id = str(last_id - 1))
    except tweepy.TweepError as e:
        print("Error", e)
        break
    else:
        if not new_tweets:
            print("Could not find any more tweets!")
            break
        tweet_list_f.extend(new_tweets)
        last_id = new_tweets[-1].id

len(tweet_list_f)
# primary addiction search

Could not find any more tweets!

7460

In [157]:
#Use the REST API for a static search
#Our example finds recent tweets using the hashtag #datascience

# tweet_list = api.search(q='#%23apple') #%23 is used to specify '#'

num_needed = 25000
tweet_list_d = []
last_id = -1 # id of last tweet seen
while len(tweet_list_d) < num_needed:
    try:
        new_tweets = api.search(q = '#%23driving%20texting -filter:retweets', tweet_mode='extended', count = 1000, max_id = str(last_id - 1))
    except tweepy.TweepError as e:
        print("Error", e)
        break
    else:
        if not new_tweets:
            print("Could not find any more tweets!")
            break
        tweet_list_d.extend(new_tweets)
        last_id = new_tweets[-1].id
        
len(tweet_list_d)
# tech addiction, texting while driving

Could not find any more tweets!

30

In [165]:
#Use the REST API for a static search
#Our example finds recent tweets using the hashtag #datascience

# tweet_list = api.search(q='#%23apple') #%23 is used to specify '#'

num_needed = 25000
tweet_list_z = []
last_id = -1 # id of last tweet seen
while len(tweet_list_z) < num_needed:
    try:
        new_tweets = api.search(q = '#%23addiction%20recovery -filter:retweets', tweet_mode='extended', count = 1000, max_id = str(last_id - 1))
    except tweepy.TweepError as e:
        print("Error", e)
        break
    else:
        if not new_tweets:
            print("Could not find any more tweets!")
            break
        tweet_list_z.extend(new_tweets)
        last_id = new_tweets[-1].id
while len(tweet_list_z) < num_needed:
    try:
        new_tweets = api.search(q = '#%23addiction%20treatment -filter:retweets', tweet_mode='extended', count = 1000, max_id = str(last_id - 1))
    except tweepy.TweepError as e:
        print("Error", e)
        break
    else:
        if not new_tweets:
            print("Could not find any more tweets!")
            break
        tweet_list_z.extend(new_tweets)
        last_id = new_tweets[-1].id
        
len(tweet_list_z)
# tech addiction, texting while driving

Could not find any more tweets!
Could not find any more tweets!

2488

In [158]:
#Use the REST API for a static search
#Our example finds recent tweets using the hashtag #datascience

# tweet_list = api.search(q='#%23apple') #%23 is used to specify '#'

num_needed = 25000
tweet_list_e = []
last_id = -1 # id of last tweet seen
while len(tweet_list_e) < num_needed:
    try:
        new_tweets = api.search(q = '#%23phone%20down -filter:retweets', tweet_mode='extended', count = 100, max_id = str(last_id - 1))
    except tweepy.TweepError as e:
        print("Error", e)
        break
    else:
        if not new_tweets:
            print("Could not find any more tweets!")
            break
        tweet_list_e.extend(new_tweets)
        last_id = new_tweets[-1].id

len(tweet_list_e)
# tech addiction, phone more important than another person

Could not find any more tweets!

25

In [159]:
import pandas as pd
import numpy as np

# text = text.lower()
# text = text.lower()
data4 = pd.DataFrame(data=[tweet.full_text for tweet in tweet_list_e], columns=['Tweet_Text'])
data4['retweet'] = np.array([tweet.retweeted for tweet in tweet_list_e])
data4['language'] = np.array([tweet.lang for tweet in tweet_list_e])
#data['geo'] = np.array([tweet.geo for tweet in tweet_list])
#data['date time'] = np.array([tweet.created_at for tweet in tweet_list])
#data['id'] = np.array([tweet.id for tweet in tweet_list])
data4.head()

                                          Tweet_Text  retweet language
0  Sophisticated #Android #malware tracks all you...    False       en
1  Two ways that will not only change how many #b...    False       en
2  Dropped my #phone down a storm drain outside t...    False       en
3  This is a good option for many people who are ...    False       en
4  Moment App â€“ Put down your #phone and get back...    False       en

See [twitter's search documentation](https://dev.twitter.com/rest/public/search) for examples of query operators.  Pay attention to how to URL encode your query.  [This w3schools page](https://www.w3schools.com/tags/ref_urlencode.asp) has information on what `%23` and other encodings for URL's mean.

In [160]:
import pandas as pd
import numpy as np

# text = text.lower()
data = pd.DataFrame(data=[tweet.full_text for tweet in tweet_list_f], columns=['Work_Tweet_Text'])
data['retweet'] = np.array([tweet.retweeted for tweet in tweet_list_f])
data['language'] = np.array([tweet.lang for tweet in tweet_list_f])
#data2['retweeted'] = np.array([tweet.retweeted for tweet in tweet_list_d])
#data['date time'] = np.array([tweet.created_at for tweet in tweet_list])
#data['id'] = np.array([tweet.id for tweet in tweet_list])
data.head()

                                     Work_Tweet_Text  retweet language
0  Get in the grove at the treatment center in Ma...    False       en
1  Known by millions for her starring role on the...    False       en
2  Rock out at the treatment center in Malibu CA,...    False       en
3  Rock at the treatment center in Malibu CA, San...    False       en
4  Iâ€™m already looking forward to the coffee Iâ€™m ...    False       en

In [161]:
import pandas as pd
import numpy as np

# text = text.lower()
data2 = pd.DataFrame(data=[tweet.full_text for tweet in tweet_list_d], columns=['Tweet_Text'])
data2['retweet'] = np.array([tweet.retweeted for tweet in tweet_list_d])
data2['language'] = np.array([tweet.lang for tweet in tweet_list_d])
data2.head()

                                          Tweet_Text  retweet language
0  How to prevent #teens from #texting and #drivi...    False       en
1  We surveyed over 2000 drivers and 42% admitted...    False       en
2  Best Way to #Stop Your #Child  From #Texting W...    False       en
3  #NzKs14 #Special #Thanks to @NzPolice @TVNZ @S...    False       en
4  This morbid phone case should keep you from te...    False       en

In [166]:
import pandas as pd
import numpy as np

# text = text.lower()
# text = text.lower()
dataz = pd.DataFrame(data=[tweet.full_text for tweet in tweet_list_z], columns=['Treatment_Tweet_Text'])
dataz['retweet'] = np.array([tweet.retweeted for tweet in tweet_list_z])
dataz['language'] = np.array([tweet.lang for tweet in tweet_list_z])
#data['geo'] = np.array([tweet.geo for tweet in tweet_list])
#data['date time'] = np.array([tweet.created_at for tweet in tweet_list])
#data['id'] = np.array([tweet.id for tweet in tweet_list])
dataz.head()

                                Treatment_Tweet_Text  retweet language
0  Have confidence in yourself and your ability t...    False       en
1  In March, I interview Congressman @joekennedy ...    False       en
2  #Golf. Great people. Good cause. July 23. Help...    False       en
3  Sober livingÂ provides a safe and clean environ...    False       en
4  The fun starts Today at Soba Recovery Center C...    False       en

In [42]:
data.describe()

                                               Tweet_Text retweet language
count                                                7891    7891     7891
unique                                               7678       1       24
top     Sometimes you can only find Heaven by slowly b...   False       en
freq                                                   10    7891     7221

In [162]:
def count_addiction(all_text):
    my_data = []
    addiction = 0 # create variables starting at 0 for all addiction types
    illegal_drugs = 0
    prescription_drugs = 0
    shopping = 0
    sex = 0
    gambling = 0
    technology = 0
    not_tech = 0
    alcohol = 0
    smoking = 0
    caffeine = 0
    addiction = len(tweet_list_d) + len(tweet_list_e) # add counts of put phone down and driving and texting as technology addicted
    technology = len(tweet_list_d) + len(tweet_list_e)
    for s in all_text:
        words = ["cocaine", "meth", "marijuana", "heroin", "drugs"]
        for w in words:
            if w in s:
                illegal_drugs = illegal_drugs + 1
                addiction = addiction + 1
                break # only count one occurance of addiction method
        words = ["pills", "opioid", "oxycontin", "painkiller", "painkillers"]
        for w in words:
            if w in s:
                prescription_drugs = prescription_drugs + 1
                addiction = addiction + 1
                break
        words = ["shop", "shopping", "buy", "buying"]
        for w in words:
            if w in s:
                shopping = shopping + 1
                addiction = addiction + 1
                break
        words = ["sex", "porn", "pornography"]
        for w in words:
            if w in s:
                sex = sex + 1
                addiction = addiction + 1
                break
        words = ["gambling", "gamble", "bet", "betting", "casino", "horse", "horses"]
        for w in words:
            if w in s:
                gambling = gambling + 1
                addiction = addiction + 1
                break
        words = ["alcohol", "alcoholism", "drink", "drinking", "party"]
        for w in words:
            if w in s:
                alcohol = alcohol + 1
                addiction = addiction + 1
                break
        words = ["smoking", "smoke", "cigarettes", "ecigarettes"]
        for w in words:
            if w in s:
                smoking = smoking + 1
                addiction = addiction + 1
                break
        words = ["caffeine", "coffee", "tea", "red bull", "energy"]
        for w in words:
            if w in s:
                caffeine = caffeine + 1
                addiction = addiction + 1
                break
        words = ["phone", "iphone", "digital", "technology", "facebook", "smartphone", "texting", "driving", "gaming", "internet", "video"]
        for w in words:
            if w in s:
                technology = technology + 1
                addiction = addiction + 1
                break
        words = ["caffeine", "coffee", "tea", "red bull", "energy", "cocaine", "meth", "marijuana", "heroin", "drugs", "pills", "opioid", "oxycontin", "painkiller", "painkillers","shop", "shopping", "buy", "buying","sex", "porn", "pornography", "gambling", "gamble", "bet", "betting", "casino", "horse", "horses", "alcohol", "alcoholism", "drink", "drinking", "party","smoking", "smoke", "cigarettes", "ecigarettes"]
        for w in words:
            if w in s:
                not_tech = not_tech + 1
                break
    # create a dataframe to hold the results
    addiction_names = ["Total_addiction", "illegal_drugs", "prescription_drugs", "shopping", "sex", "gambling", "technology", "alcohol", "smoking", "Caffeine", "Not Tech"]
    addiction_values = [addiction, illegal_drugs, prescription_drugs, shopping, sex, gambling, technology, alcohol, smoking, caffeine, not_tech]
    my_data_df = pd.DataFrame({"Addiction" : addiction_names, "Number" : addiction_values})
    return my_data_df

In [163]:
import csv
import string
from collections import Counter

# call the function to extract the data from the tweet searches and store it into a variable
dataframe_addiction = count_addiction(data['Work_Tweet_Text'])
# print the results
count_addiction(data['Work_Tweet_Text'])

             Addiction  Number
0      Total_addiction    3711
1        illegal_drugs     741
2   prescription_drugs     624
3             shopping      90
4                  sex     174
5             gambling     263
6           technology     362
7              alcohol    1182
8              smoking     129
9             Caffeine     146
10            Not Tech    2775

In [167]:
import csv
import string
from collections import Counter

# call the function to extract the data from the tweet searches and store it into a variable
dataframe_addiction = count_addiction(dataz['Treatment_Tweet_Text'])
# print the results
count_addiction(dataz['Treatment_Tweet_Text'])

             Addiction  Number
0      Total_addiction    1411
1        illegal_drugs     183
2   prescription_drugs     152
3             shopping      44
4                  sex      30
5             gambling      77
6           technology     120
7              alcohol     766
8              smoking       4
9             Caffeine      35
10            Not Tech    1087

# markdown cell of styles of addiction and it's related symptoms
illegal_drugs = ["cocaine", "meth", "marijuana", "heroin", "drugs"]
perscription_drugs = ["pills", "opioid", "oxycontin", "painkiller", "painkillers"]
shopping = ["shop", "shopping", "buy", "buying"]
sex = ["sex", "porn", "pornography"]
gambling = ["gambling", "gamble", "bet", "betting", "casino", "horse", "horses"]
alcohol = ["alcohol", "alcoholism", "drink", "drinking", "party"]
smoking = ["smoking", "smoke", "cigarettes", "ecigarettes"]
technology = ["phone", "iphone", "digital", "technology", "facebook", "smartphone", "texting", "driving", "gaming", "internet", "video"]
caffeine = ["caffeine", "coffee", "tea", "red bull", "energy"]

# prepare to export dataframe to csv file format

my_data_df.fillna("", inplace=True)
my_data_df

In [168]:
# export dataframe to csv file
dataframe_addiction.to_csv("ds710_final_addictionz.csv", index=False)